.row{
   width: 100%;
   padding-left: 20px;
    color: white;
    background-color: yellow;
    margin-top: 11px;
}
.row h2{
    font-weight: 600;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
  
}
/* .posters::-webkit-scrollbar{
  display: none;
} */
.poster{
    max-height: 250px;
    margin-right: 10px;
}